@import "variables.scss";
@import "mixin.scss";
@import "libs.scss";
@import "fonts.scss";
@import "nullstyle.scss";

.transform {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
}

.size100 {
	width: 100%;
	height: 100%;
}

.triangle {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}

.page {
	overflow: hidden;
}

.header {
	height: 100vh;
	background: {
		image: url('../img/header_bcg.jpg');
		size: cover;
		position: center center;
		repeat: no-repeat;
	}
}

.user {
   @extend %fa-icon;
   @extend .fas;
   &:before {
   	content: fa-content($fa-var-twitter);
   	font-size: 50px;
   	color: black;
   }	
}

.header .overlay {
	@extend .size100;
	//background-color: rgba(107,0,9,0.75);
	background: linear-gradient(90deg, rgba(107,0,9,0.9) 0%, rgba(153,4,4,0.65) 50%, rgba(107,0,9,0.9) 100%);
}
.header-top {
	padding: 35px 75px 20px 45px;
	@include md {
		padding: 20px 15px;
	}
	@include lg {
		.row {
			justify-content: space-between;
		}
	}
}

.header-top_logo__name {
	@include fonts($lato_black, 900, 43, #fff);
	@include sm {
		font-size: 30px;
	}
}
.header-top_menu {
	display: flex;
	@include lg {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 90px;
		left: -100%;
		background: #000;
		transition: left ease-out 0.3s; 
	}
	@include md {
		display: none;
	}
}

.menu_item {
	display: inline-block;
}
.menu_item__link {
	display: block;
	position: relative;
	transition: all 400ms;
	padding: 20px 11px 5px;
	@include fonts($lato_bold, bold, 15, #fff);
	text-transform: uppercase;
	&:last-child {
		padding-right: 0;
	}
	&:hover {
		cursor: pointer;
		color: #000000;
	}
}

.header_menu__button {
	display: none;
	position: relative;
	z-index: 400;
	@include size(25, 25);
	top: 50%;
	transform: translate3d(0, -50%, 0);
	:hover {
		cursor: pointer;
	}
	%span {
		content: '';
		display: block;
		background-color: #fff;
		position: absolute;
		@include size(25, 3);
	}
	:before {
		@extend %span;
		top: -10px;
	} 
	:after {
		@extend %span;
		top: 10px;
	}
	span {
		@extend %span;
		top: 10px;
		transition: all 500ms;
	}
	@include lg {
		display: block;		
	}
	@include sm {
		right: 0;
	}
}

.header_menu__button.header_menu__button__toggle {
	:before {
	   top: 0;
	   transform:rotate(-90deg);
	}
	:after {
		top: 0;
	}
	span {
	   transform:rotate(45deg);
	}
}

.header-top_social {
	display: flex;
	justify-content: flex-end;
	@include lg {
		justify-content: space-between;
		max-width: 200px;
	}
	a {
		margin-right: 15px;
	}
}

.social_item__facebook:before, 
.social_item__search:before {
	@extend .transform;
	text-align: center;
}

.social_item__search {
	@extend %fa-icon;
   @extend .fas;
   width: 25px;
   position: relative;
   &:before {
   	content: fa-content($fa-var-search);
   	font-size: 25px;
   	color: #fff;
   	@include sm {
   		font-size: 20px;
   	}
   }
}
.social_item__facebook {
	@extend %fa-icon;
   @extend .fab;
   width: 25px;
   position: relative;
   &:before {
   	content: fa-content($fa-var-facebook-f);
   	font-size: 25px;
   	color: #fff;
   	@include sm {
   		font-size: 20px;
   	}
   }
}


.header-body {
	position: relative;
	text-align: center;
	padding: 150px 0 0 0;
	@include lg {
		padding-top: 120px;
	}
	@include md {
		height: 100%;
		margin-top: -83px;
		padding-top: 0px;
		.row {
			margin: auto;
		}
	}
	@include sm {
		margin-top: -70px;
	}
}

.header-img {
	display: block;
	width: 100%;
	position: absolute;
	z-index: 10;
	@include position(850, 0, -160);
	@include xxl {
		@include position(750, 50, -70);
	}
	@include xl {
		@include position (500, 250, -80);
	}
	@include lg {
		@include position (450, 350, -50);
	}
	@include md {
		display: none;
	}
}

.header-body_title {}
.main-title {
	@include fonts($lemon_milk, bold, 160, #fff);
	line-height: 135px;
	text-shadow: 0 0 24px #000;
	mix-blend-mode: overlay;
	
	// background: {
	// 	image: url('../img/header_bcg.jpg');
	// 	size: 287%;
	// 	position: 52.6% 95%;
	// 	repeat: no-repeat;
	// }
	// -webkit-text-fill-color: transparent;
   // -webkit-background-clip: text;

	@include lg {
		font-size: 120px;
		line-height: 100px;
	}
	@include md {
		font-size: 100px;
		line-height: 85px;
	}
	@include sm {
		font-size: 70px;
		line-height: 60px;
	}
	@media (max-width: 374.99px){
		font-size: 50px;
		line-height: 45px;
	}
	span {
		position: relative;
		top: -45px;
		font-size: 96px;
		@include lg {
			top: -55px;
			font-size: 50px;
		}
		@include md {
			top: -48px;
			font-size: 40px;
		}
		@include sm {
			top: -32px;
			font-size: 30px;
		}
		@media (max-width: 374.99px){
			top: -17px;
		}
	}
}
.header-body_btn {}
.btn {
	display: inline-block;
	height: 54px;
	padding: 0 32px;
	border-radius: 30px;
	background-color: #bc2e3a;
	box-shadow: -3px 11px 40px 0 rgba(0, 1, 1, 0.20);
	line-height: 54px;
	letter-spacing: 0.53px;
	vertical-align: middle;
	@include fonts($lato_bold, bold, 21, #fff);
	text-transform: uppercase;
}
.btn-white {
	color: #242424;
	background-color: #fff;
	box-shadow: -3px 11px 40px 0 rgba(0, 1, 1, 0.47);
}
.main, .footer {
	h2 {
		@include fonts($peace_sans, 900, 62, #494949);
		@include lg {
			text-align: center;
		}
	}
	p {
		@include fonts($open_sans, 400, 17, #6a6a6a);
		line-height: 30px;
	}
	.body_btn {
		display: flex;
		@include lg {
			justify-content: center;
		}
	}
	@include sm {
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

section, 
footer {
	padding: 40px 0;
} 

.who {
	overflow: hidden;	
	.container {
		position: relative;
	}
	.row {
		&:before {
			@extend .triangle;
			right: -35%;
			top: -41px;
			border-width: 650px 650px 0 650px;
			border-color: #000 transparent transparent transparent;
			@include xl {
				right: -80%;
			}
			@include lg {
				display: none;
			}
		}
	}
	.content {
		padding: 70px 0;
		p {
			padding: 75px 0 75px 15px;
		}
		@include sm {
			padding: 40px 0;
			p {
				padding: 35px 20px;
			}
		}
	}
		
	.img-wrapper {
		display: flex;
		height: 100%;
		align-items: center;
	}
	.img-container {
		width: 100%;
		height: 0;
      padding-bottom: 62%;
		position: relative;
		overflow: hidden;
		background: {
			image: url('../img/Macbook pro.png');
			size: cover;
			repeat: no-repeat;
			position: center center;
		}
		img {
			position: absolute;
			width: 73%;
			top: 26%;
			left: 49%;
			transform: translate3d(-49%, -26%, 0);
		}
	}
}

.what {
	background-color: #f5f5f5;
	position: relative;
	&:before {
		@extend .triangle;
		border-width: 160px 0 160px 160px;
	   border-color: transparent transparent transparent #bc2e3a;
	   top: 50%;
	   left: 0;
	   transform: translateY(-50%);
	   @include xxl {
	   	top: 140px;
	   	border-width: 100px 0 100px 100px;
	   }
	   @include md {
	   	border-width: 80px 0 80px 80px;
	   	top: 110px;
	   }
	   @include md {
			border-width: 50px 0 50px 50px;
		}
	   @include sm {
	   	display: none;
	   }
	}
	h2 {
		padding-top: 70px;
		text-align: center;
		@include lg {
			padding-bottom: 30px;
		}
		@include md {
			padding-top: 40px;
		}
	}
	.do {
		padding: 92px 0 64px;
		@include lg {
			max-width: 460px;
			margin: 0 auto;
			padding: 50px 0 30px;
		}
		@include sm {
			margin: 0;
			max-width: 100%;
			flex-direction: column;
			align-items: center;
			padding: 30px 0 15px;
		}
		.do__icon {
			@include size(75, 75);
			position: relative;
			border-radius: 50%;
			background-color: #bc2e3a;
			@extend %fa-icon;
			@include sm {
				@include size(60, 60);
			}
   		&:before {
   			position: absolute;
   			top: 50%;
   			left: 50%;
   			transform:translate3d(-50%, -50%, 0);
   			font-size: 32px;
   			color:#fff;
   			@include sm {
   				font-size: 28px;
   			}
   		}	
		}
		.do__icon___flag {
			@extend .far;
			&:before {
				content: fa-content($fa-var-flag);
			}	
		}
		.do__icon___desktop {
			@extend .fas;
			&:before {
				content: fa-content($fa-var-desktop);
			}
		}
		.do__icon___chart {
			@extend .fas;
			&:before {
				content: fa-content($fa-var-chart-line);
			}
		}
		.do__icon___headset {
			@extend .fas;
			&:before {
				content: fa-content($fa-var-headset);
			}
		}
		.do__icon___map {
			@extend .fas;
			&:before {
				content: fa-content($fa-var-map-marked-alt);
			}
		}
		.do__icon___envelope {
			@extend .far;
			&:before {
				content: fa-content($fa-var-envelope);
			}
		}
		.do__content {
			margin-left: auto;
			max-width: 281px;
			@include xl {
				margin-left: 25px;
				max-width: 320px;
			}
			@include sm {
				max-width: auto;
				margin: 0;
			}
			h3 {
				@include fonts($open_sans, 900, 30, #6f6f6e);
				padding-top: 25px;
				margin-bottom: 30px;
				@include sm {
					font-size: 22px;
					text-align: center;
				}	
			}
		}
	}
}

.how {
	position: relative;
	padding: 80px 0 180px;
	&:before {
		@extend .triangle;
		border-width: 200px 0 200px 200px;
		border-color: transparent transparent transparent #000;
		left: 0;	
		bottom: 0;
		transform: translateY(50%);
		@include xl {
			border-width: 150px 0 150px 150px;
		}
		@include md {
			border-width: 100px 0 100px 100px;
		}
		@include sm {
			display: none;
		}	
	}
	&:after {
		@extend .triangle;
		border-width: 550px 530px 550px 0;
		border-color: transparent #bc2e3a transparent transparent;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		@include xxl {
			border-width: 350px 310px 350px 0;
		}
		@include lg {
			border-width: 80px 80px 80px 0;
	   	top: 110px;
		}
		@include md {
			border-width: 50px 50px 50px 0;
		}
		@include sm {
			display: none;
		}
	}
	@include lg {
		padding-bottom: 80px;
	}
	.how__content {
		p {
			padding: 75px 0 50px 15px;
			@include sm {
				padding: 35px 20px 40px;
			}
		}
	}
	@include lg {
		.body_btn {
			margin-bottom: 60px;
		}
	}
	.how__img {
		position: relative;
		z-index: 2;
	}
	.how__img__item {
		position: relative;
		@include lg {
			max-width: 315px;
			margin-bottom: 30px;
		}
		&:nth-child(1) {
         h4 {
         	bottom: 130px;
         	left: 50px;
         	@include sm {
         		bottom: 82px;
         		left: 30px;
         	}
         }
         p {
         	@include fonts($open_sans, 400, 18, #fff);
				line-height: 30px;
         	bottom: 35px;
         	left: 50px;
         	width: 215px;
         	@include sm {
               line-height: 20px;
               width: 180px;
               font-size: 16px;
               bottom: 20px;
               left: 30px;
         	}
         	@include xs {
         		font-size: 14px;
         	}
         }
         .img_wrapper {
         	&:before {
         		background-color: rgba(0,0,0,.6);
         	}
         	img {
         		top: -20px;
					left: -180px;
         	}
         }
		}
		&:nth-child(2) {
			img {
				left: -100px;
				top: -30px;
				min-width: 500px;
			}
		}
		&:nth-child(3) {
			img {
				top: 0;
				left: -80px;
			}
		}
		span, h4, p {
			position: absolute;
			z-index: 2;
		}
		span, h4 {
			@include fonts($lato_bold, 900, 30, #fff);
			text-transform: uppercase;
		}
		span {
			font-size: 58px;
			top: 20px;
			right: 5px;
			@include sm {
				font-size: 35px;
				top: 10px;
				right: 0;
			}
		}
		h4 {
			font-size: 40px;
			bottom: 23px;
			left: 0;
			@include sm {
				font-size: 28px;
				bottom: 10px;
			}
		}
		.img_wrapper {
			position: relative;
			@include size(315, 297);
			transform: skew(-25deg,0deg);
			overflow: hidden;
			@include sm {
				@include size(250, 220);
			}
			@include xs {
				@include size(200, 180);
			}
			&:before {
				content: '';
				position: absolute;
				z-index: 3;
				@extend .size100;
				background-color: rgba(0,0,0,.5);

			}
			img {
				position: absolute;
				z-index: 1;
				display: block;
				transform: skew(25deg,0deg);
			}
		}
	}
}

.team {
	background-color: #f5f5f5;
	h2 {
		padding-top: 64px;
		text-align: center;
		@include md {
			padding-bottom: 25px;
		}
		@include sm {
			padding-top: 40px;
		}
	}
	.swiper-btns {
		position: relative;
		bottom: 320px;
		@include xl {
			bottom: 150px;
		}
		@include md {
		    bottom: 100px;	
		}
		@include xs {
			bottom: 60px;
		}
		.swiper-btn-prev, 
		.swiper-btn-next {
			position: absolute;
			z-index: 10;
			cursor: pointer;
			@extend %fa-icon;
   		@extend .fas;
   		&:before {
   			color: #424240;
   			font-size: 150px;
   			@include md {
   				font-size: 100px;
   			}
   			@include sm {
   				font-size: 60px;
   			}
   		}
		}
		.swiper-btn-prev {
			left: 100px;
			@include md {
				left: 50px;
			}
			&:before {
				content: fa-content($fa-var-caret-left);
			}
		}	
		.swiper-btn-next {
			right: 100px;
			@include md {
				right: 50px;
			}
			&:before {
				content: fa-content($fa-var-caret-right);
			}
		}
	}
	.swiper-container {
		max-width: 790px;
		padding: 140px 0;
		@include md {
			padding: 120px 0 180px;
		}
		@include xs {
			padding: 60px 0 100px; 
		}
		.swiper-slide {
			transition: scale 0.3s;
		}
		.swiper-slide-active {
			@include media-breakpoint-up(lg) {
				z-index: 100;
				.img-wrapper {
					border-color: #fff;
					&:before {
						background: none;
					}
					transform: rotate(-45deg) scale(1.7);
				}
				.people {
					position: relative;
					top: 80px;
					.people_name {
						@include size(230, 50);
						@include xs {
							@include size(180, 30);
						}
						span {
							line-height: 50px;
							font-size: 24px;
							@include xs {
								font-size: 19px;
								line-height: 30px;
							}
						}
					}
					.people_position {
						display: block;
					}
				}
			}
		}
	}
	.slide_wrapper {
		.img-wrapper {
			position: relative;
			margin: 0 auto;
			@include size(175, 175);
			border: 15px solid #fcfcfc;
			box-shadow: -4px 12px 12px 0px rgba(0, 1, 1, 0.22);
			transform: rotate(-45deg);
			overflow: hidden;
			@include lg {
				transform: rotate(-45deg) scale(1.7);
			}
			@media (max-width: 425px) {
						transform: rotate(-45deg) scale(1.2);
					}
			@media (max-width: 320px) {
				transform: rotate(-45deg);
			}
			&:before {
				position: absolute;
				z-index: 2;
				content: ' ';
				@extend .size100;
				background-color: rgba(0,0,0,0.2);

			}
			img {
				transform: rotate(45deg) scale(1.5);
				@extend .size100;	
			}
		}
		.people {
			@include lg {
				position: relative;
				top: 80px;
				@media (max-width:425px) {
					top: 20px;
				}
			}
			.people_name {
				margin: -20px auto 0;
				@include size(160, 38);
				background-color: #000;
				transform: skew(40deg,0deg);
				@include lg {
					@include size(230, 50);
				}
				@include xs {
					@include size(180, 30);
				}
				span {
					@include fonts($open_sans, 900, 18, #fff);
					display: block;
					width: 100%;
					line-height: 38px;
					vertical-align: middle;
					text-align: center;
					transform: skew(-40deg,0deg);
					@include lg {
						line-height: 50px;
						font-size: 24px;
						@include xs {
							font-size: 19px;
							line-height: 30px;
						}
					}
				}
			}
			.people_position {
				display: none;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				margin: -5px 0 0 -60px;
				@include size(155, 30);
				text-align: center;
				background-color: #bc2e3a;
				transform: skew(40deg,0deg);
				@include lg {
					display: block;
				}
				@include xs {
					margin: 0 0 0 -45px;
					@include size(120, 20);
				}
				span {
					@include fonts($open_sans, 400, 19, #fff);
					font-style: italic;
					display: inline-block;
					width: 100%;
					line-height: 30px;
					vertical-align: middle;
					text-align: center;
					transform: skew(-40deg,0deg);
					@include xs {
						line-height: 20px;
						font-size: 14px;
					}
				}
			}

		}
	} 
}

.reviews {
	position: relative;
	&:before {
		@extend .triangle;
		@extend .transform;
      margin-top: 30px;
		border-width: 468px 0 468px 446px;
		border-color: transparent transparent transparent #bc2e3a;
		@include xxl {
			border-width: 340px 0 340px 300px;
		}
		@include lg {
			border-width: 80px 0 80px 80px;
			top: 110px;
			margin-top: 0;
		}
		@include md {
			border-width: 50px 0 50px 50px;
		}
		@include sm {
			display: none;
		}
	}
	&:after {
		@extend .triangle;
		top: 0;
		right: 0;
		border-width: 0 300px 300px 0;
		border-color: transparent #000 transparent transparent;
		@include xl {
			border-width: 0 200px 200px 0;
		}
		@include md {
			border-width: 0 100px 100px 0;
		}
		@include sm {
			display: none;
		}
	}
	padding-top: 80px;
	.swiper-container {
		padding: 80px 0 50px;
		@include lg {
			padding-bottom: 80px;
		}
	}
	.swiper-slide {
		.img-wrapper {
			margin: 0 auto;
			@include size(210, 210);
			border: 15px solid #fcfcfc;
			box-shadow: -4px 12px 12px 0px rgba(0, 1, 1, 0.22);
			transform: rotate(-45deg);
			overflow: hidden;
			@media(max-width: 425px) {
				@include size(175, 175);
			}
			img {
				@extend .size100;
				transform: rotate(45deg) scale(1.5);
			}
		}
		.description {
			padding: 10px 0 0 50px;
			position: relative;
			@extend %fa-icon;
   		@extend .fas;
   		@include lg {
   			padding-left: 90px;
   			padding-top: 80px;
   		}
   		@include sm {
   			padding-left: 50px;
   		}
   		&:before {
   			position: absolute;
   			content: fa-content($fa-var-quote-left);
   			color: #737373;
   			font-size: 55px;
   			top: 0;
   			left: -20px;
   			@include lg {
   				left: 5px;
   				top: 80px;
   			}
   			@include sm {
   				font-size: 30px;
   			}
   		}
			.info {
				@include fonts($open_sans, 900, 18, #6a6a6a);
				margin-top: 40px;
			}
		}
		
	}
	.swiper-pagination {
		position: relative;
		bottom: 10px;
		left: 10px;
		width: auto !important;
		margin: 0;
		@include lg {
			bottom: -30px;
			left: 0;
		}
		.swiper-pagination-bullet {
			display: inline-block;
			margin: 15px;
			border-radius: 0;
			background: none;
			@include size(40, 40);
			overflow: hidden;
			transform: rotate(-45deg);
			img {
				@extend .size100;
				transform: rotate(45deg) scale(1.5);
			}
		}
	}
}

.footer {
	position: relative;
	z-index: -1;
	background: url('../img/footer.jpg');
	&:before {
		content: '';
		display: block;
		position: absolute;	
		top: 0;
		left: 0;
		@extend .size100;
		background-color: rgba(0,0,0,0.95);
	}
	&:after {
		@extend .triangle;
		border-width: 0 150px 170px 150px;
		bottom: 0;
		right: -50px;
		border-color: transparent transparent #bc2e3a transparent;
		@include xl {
			right: -150px;
		}
		@include sm {
			display: none;
		}
	}
	h2 {
		color: #9f9f9f;
		text-align: center;
	}
	.footer_info {
		padding: 85px 0 100px;
		@include lg {
			padding-bottom: 85px;
		}
	}
	.info {
		position: relative;
		padding-left: 85px;
		@extend %fa-icon;
		@include lg {
			width: 269px;
			margin-bottom: 30px;;
		}
		@include sm {
			padding-left: 65px;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			font-size: 40px;
			@include sm {
				font-size: 30px;
			}
		}
		h4 {
			@include fonts($open_sans, 900, 22, #fff);
			letter-spacing: 0.5px;
			@include sm {
				font-size: 20px;
			}
		}
		ul {
			padding-top: 22px;
			li {
				@include fonts($open_sans, 400, 17, #fff);
				margin-bottom: 10px;
			}
		}
	}
	.info__email:before {
		@extend .far;
		content: fa-content($fa-var-envelope);
	}
	.info__phone:before {
		@extend .fas;
		content: fa-content($fa-var-mobile-alt);
	}
	.info__office {
		&:before {
			@extend .fas;
			content: fa-content($fa-var-map-marked-alt);
		}	
		@include lg {
			margin-bottom: 0;
		}
	}

	.social {
		text-align: center;
		padding-bottom: 35px;
		border-bottom: solid 2px #747474;
		.fab {
			color: #fff;
			font-size: 25px;
			margin-right: 45px;
			@include sm {
				margin-right: 15px;
			}
			@include xs {
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.copyright {
		padding: 35px 0 10px;
		p {
			color: #fff;
			&:first-child {
				text-align: right;
				border-right: solid 1px #fff;
				@include lg {
					border: none;
					text-align: center;
				}
			}
			@include lg {
				text-align: center;
			}
		}
	}
}

.popup-menu {
	position: fixed;
	z-index: 100;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.8);
   transition: opacity 200ms;
   visibility: hidden;
   opacity: 0;
   .header-top_menu {
   	display: block;
   	background-color: #ae2020;
   	height: 100%;
   	width: 50%;
   	transition: transform ease 0.3s;
   	transform:translate3d(-100%, 0, 0);
   	@include sm {
   		width: 100%;
   	}
   	.menu_item {
   		display: block;
   		.menu_item__link {
   			padding: 18px 20px;
   			font-size: 37px;
   			@include sm {
   				font-size: 28px;
   			}
   			&:hover{
   				top: -4px;
   			}
   		}
   	}	
   }
}

.popup-menu.popup-menu__toggle {
	visibility: visible;
	opacity: 1;
	.header-top_menu {
		transform:translate3d(200%, 0, 0);
		@include sm {
			transform:translate3d(100%, 0, 0);
		}
	}
}

